<div class="timeline-container px-4 py-3">
    <div class="row align-items-center">
        <div class="col-6">
            <input type="text" id="timeline-search" placeholder="Search...">
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end flex-nowrap">
                <button type="button" class="btn btn-timeline bg-secondary text-white p-2">
                    <span class="icon-filter"></span>    
                    <span>Filter</span>    
                </button>
                <button type="button" class="btn btn-timeline bg-secondary text-white p-2 ms-2">
                    <span class="icon-sort"></span>    
                    <span>Sort</span>    
                </button>
                <div class="bg-secondary ms-2">
                    <button type="button" class="btn btn-arrow text-white">
                        <span class="icon-chevron-down"></span>
                    </button>
                    <span class="bg-secondary p-2" >Febuary</span>
                    <button type="button" class="btn btn-arrow text-white">
                        <span class="icon-chevron-down"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</div>
