<div class="timeline-container d-flex flex-column px-4 py-3 overflow-hidden h-100">
    <div class="row align-items-center">
        <div class="col-6">
            <input type="text" id="timeline-search" placeholder="Search...">
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-end flex-nowrap">
                <button type="button" class="btn btn-timeline bg-secondary text-white p-2">
                    <span class="icon-filter"></span>    
                    <span>Filter</span>    
                </button>
                <button type="button" class="btn btn-timeline bg-secondary text-white p-2 ms-2">
                    <span class="icon-sort"></span>    
                    <span>Sort</span>    
                </button>
                <div class="bg-secondary ms-2">
                    <button type="button" class="btn btn-arrow text-white">
                        <span class="icon-chevron-down"></span>
                    </button>
                    <span class="bg-secondary p-2" >Febuary</span>
                    <button type="button" class="btn btn-arrow text-white">
                        <span class="icon-chevron-down"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-grow-1 overflow-auto my-3 position-relative">
        <div class="d-flex position-sticky top-0">
            <ng-container *ngFor="let i of array">
                <ng-container *ngFor="let j of counter(i[1]); let k = index" >
                    <div class="d-flex flex-nowrap p-5 border   bg-primary">
                        <span class="pe-2">{{k+1}}</span>
                        <span>{{i[0].slice(0,3)}}</span>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="d-flex flex-column" #hello>
            
        </div>
    </div>
</div>
