
<div class="tasks d-flex flex-column h-100 overflow-hidden">
    <!-- tasks-menu -->
    <div class="task-refinement row py-3 px-4 mx-0">
        <div class="col-6 p-0">
            <div class="d-flex">
                <div class="tasks-menu bg-secondary p-2">
                    <span class="icon-tablet"></span>
                    <span class="ps-1">Table</span>
                </div>
                <div class="tasks-menu bg-secondary p-2 ms-2">
                    <span class="icon-list"></span>
                    <span class="ps-1">List View</span>
                </div>
            </div>
        </div>
        <div class="col-6 p-0">
            <div class="d-flex justify-content-end">
                <div class="tasks-menu bg-secondary p-2">
                    <span class="icon-filter"></span>
                    <span class="ps-1">Filter</span>
                </div>
                <div class="tasks-menu bg-secondary p-2 ms-2">
                    <span class="icon-sort"></span>
                    <span class="ps-1">Sort by</span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-grow-1 overflow-x-auto h-100" cdkDropListGroup>

        <!-- New Task column -->
        <div class="col-3 card-column overflow-hidden d-flex flex-column">
            <div class="card-title p-4 d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <span class="icon-dot-circle-o"></span>
                    <h5 class="m-0 ps-3">New Task (2)</h5>
                </div>
                <span class="icon-plus"></span>
            </div>
            <div class="py-4 overflow-hidden">
                <div class="px-4 overflow-auto h-100">
                    <div
                    cdkDropList
                    [cdkDropListData]="newtask"
                    (cdkDropListDropped)="drop($event)">
                    <div class="card mb-3" *ngFor="let item of newtask" cdkDrag>
                        <div class="card-body">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="card-small-text bg-secondary p-1">{{item.tag}}</span>
                                <span class="icon-more-horizontal"></span>
                            </div>
                            <h6>{{item.title}}</h6>
                            <p class="card-text card-small-text">{{item.description}}</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- On Progress column -->
        <div class="col-3 card-column overflow-hidden d-flex flex-column">
            <div class="card-title p-4 d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <span class="icon-dot-circle-o"></span>
                    <h5 class="m-0 ps-3">On Progress (8)</h5>
                </div>
                <span class="icon-plus"></span>
            </div>
            <div class="py-4 overflow-hidden">
                <div class="px-4 overflow-auto h-100">
                    <div
                    cdkDropList
                    [cdkDropListData]="progress"
                    (cdkDropListDropped)="drop($event)">
                    <div class="card mb-3" *ngFor="let item of progress" cdkDrag>
                        <div class="card-body">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="card-small-text bg-secondary p-1">{{item.tag}}</span>
                                <span class="icon-more-horizontal"></span>
                            </div>
                            <h6>{{item.title}}</h6>
                            <p class="card-text card-small-text">{{item.description}}</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- On Review column -->
        <div class="col-3 card-column overflow-hidden d-flex flex-column">
            <div class="card-title p-4 d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <span class="icon-dot-circle-o"></span>
                    <h5 class="m-0 ps-3">On Review(3)</h5>
                </div>
                <span class="icon-plus"></span>
            </div>
            <div class="py-4 overflow-hidden">
                <div class="px-4 overflow-y-auto h-100">
                    <div
                    cdkDropList
                    [cdkDropListData]="review"
                    (cdkDropListDropped)="drop($event)">
                    <div class="card mb-3" *ngFor="let item of review" cdkDrag>
                        <div class="card-body">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="card-small-text bg-secondary p-1">{{item.tag}}</span>
                                <span class="icon-more-horizontal"></span>
                            </div>
                            <h6>{{item.title}}</h6>
                            <p class="card-text card-small-text">{{item.description}}</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Complete  column -->
        <div class="col-3 card-column overflow-hidden d-flex flex-column">
            <div class="card-title p-4 d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <span class="icon-dot-circle-o"></span>
                    <h5 class="m-0 ps-3">Completed (3)</h5>
                </div>
                <span class="icon-plus"></span>
            </div>
            <div class="py-4 overflow-hidden">
                <div class="px-4 overflow-y-auto h-100">
                    <div
                    cdkDropList
                    [cdkDropListData]="review"
                    (cdkDropListDropped)="drop($event)">
                    <div class="card mb-3" *ngFor="let item of complete" cdkDrag>
                        <div class="card-body">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="card-small-text bg-secondary p-1">{{item.tag}}</span>
                                <span class="icon-more-horizontal"></span>
                            </div>
                            <h6>{{item.title}}</h6>
                            <p class="card-text card-small-text">{{item.description}}</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>