
<div class="tasks-style d-flex flex-column h-100">
    <!-- filter-view-menu -->
    <div class="filter-view row py-3 px-4 mx-0">
        <div class="col-6 p-0">
            <div class="d-flex">
                <div class="filter-view-menu bg-secondary p-2">
                    <span class="icon-tablet"></span>
                    <span class="ps-1">Table</span>
                </div>
                <div class="filter-view-menu bg-secondary p-2 ms-2">
                    <span class="icon-list"></span>
                    <span class="ps-1">List View</span>
                </div>
            </div>
        </div>
        <div class="col-6 p-0">
            <div class="d-flex justify-content-end">
                <div class="filter-view-menu bg-secondary p-2">
                    <span class="icon-filter"></span>
                    <span class="ps-1">Filter</span>
                </div>
                <div class="filter-view-menu bg-secondary p-2 ms-2">
                    <span class="icon-sort"></span>
                    <span class="ps-1">Sort by</span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-grow-1" cdkDropListGroup>
        <div class="col-5 flex-grow-1">
            <div class="task-title p-4 d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <span class="icon-dot-circle-o"></span>
                    <h5 class="m-0 ps-3">New Task</h5>
                </div>
                <span class="icon-plus"></span>
            </div>
            <div class="px-4">
                <div
                    cdkDropList
                    class="example-list"
                    [cdkDropListConnectedTo]="['todo','done','complete']"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                </div>
            </div>
        </div>
        
        <div class="col-5 flex-grow-1">
            <div class="col-5 flex-grow-1">
                <div class="task-title p-4 d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="icon-dot-circle-o"></span>
                        <h5 class="m-0 ps-3">On going</h5>
                    </div>
                    <span class="icon-plus"></span>
                </div>
                <div class="px-4">
                    <div
                  cdkDropList
                  class="example-list"
                  [cdkDropListConnectedTo]="['todo','done','complete']"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
                </div>
                </div>
            </div>
        </div>
        
        <div class="col-5 flex-grow-1">
            <div class="col-5 flex-grow-1">
                <div class="task-title p-4 d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="icon-dot-circle-o"></span>
                        <h5 class="m-0 ps-3">Completed</h5>
                    </div>
                    <span class="icon-plus"></span>
                </div>
                <div class="px-4">
                    <div
                  cdkDropList
                  class="example-list"
                  [cdkDropListConnectedTo]="['todo','done','complete']"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of complete" cdkDrag>{{item}}</div>
                </div>
                </div>
            </div>
        </div>
    </div>
    
</div>