
<div class="row py-3 px-4 mx-0">
    <div class="col-6 p-0">
        <div class="d-inline">
            <span class="icon-tablet"></span>
            <span>Table</span>
        </div>
        <div class="d-inline">
            <span class="icon-list"></span>
            <span>List View</span>
        </div>
    </div>
    <div class="col-6 p-0">
        <div class="d-flex justify-content-end">
            <div class="d-inline ">
                <span class="icon-filter"></span>
                <span>Filter</span>
            </div>
            <div class="d-inline">
                <span class="icon-sort"></span>
                <span>Sort by</span>
            </div>
        </div>
    </div>
</div>