<div class="card mb-3 bg-secondary">
    <div class="card-body">
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
            <div class="d-flex flex-column">
                <label for="ctag">Task Tag</label>
                <ng-multiselect-dropdown [placeholder]="'custom placeholder'" name="city" [settings]="dropdownSettings"
                    [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)" formControlName="taskTag">
                </ng-multiselect-dropdown>
            </div>
            <div class="d-flex flex-column">
                <label for="ctitle">Task Title</label>
                <input class="" type="text" id="ctitle" name="ctitle" formControlName="taskTitle">
            </div>
            <div class="d-flex flex-column">
                <label for="cdescription">Task Description</label>
                <textarea name="cdescription" id="cdescription" cols="25" rows="2" formControlName="taskDescription"></textarea>
            </div>
            <div>
                <button type="submit">Add</button>
                <button type="reset">Clear</button>
            </div>
        </form>
    </div>
</div>