<div class="tasks d-flex flex-column h-100 overflow-hidden">
    <!-- tasks-menu -->
    <div class="task-refinement row py-3 px-4 mx-0">
        <div class="col-6 p-0">
            <div class="d-flex flex-nowrap">
                <button class="btn btn-task bg-secondary text-white p-2">
                    <span class="icon-tablet"></span>
                    <span class="ps-2">Table</span>
                </button>
                <button class="btn btn-task bg-secondary text-white p-2 ms-2">
                    <span class="icon-list"></span>
                    <span class="ps-2">List View</span>
                </button>
            </div>
        </div>
        <div class="col-6 p-0">
            <div class="d-flex justify-content-end flex-nowrap">
                <button class="btn btn-task bg-secondary text-white p-2">
                    <span class="icon-filter"></span>
                    <span class="ps-2">Filter</span>
                </button>
                <button class="btn btn-task bg-secondary text-white p-2 ms-2">
                    <span class="icon-sort"></span>
                    <span class="ps-2">Sort by</span>
                </button>
            </div>
        </div>
    </div>
    <div class="d-flex flex-grow-1 overflow-x-auto h-100" cdkDropListGroup>

        <!-- New Task column -->
        <div class="col-3 card-column overflow-hidden d-flex flex-column">
            <div class="card-title p-4 d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <span class="icon-dot-circle-o"></span>
                    <h5 class="m-0 ps-3">New Task ({{newTask.length}})</h5>
                </div>
                <div (click)="openForm('newTaskFormFlag')">
                    <span class="icon-plus"></span>
                </div>
            </div>
            <div class="py-4 overflow-hidden">
                <div class="px-4 overflow-auto h-100">
                    <div class="list" cdkDropList [cdkDropListData]="newTask" (cdkDropListDropped)="drop($event)">
                        <ng-container *ngIf="newTaskFormFlag;">
                            <app-task-form-container (emitTaskFormData)="taskFormData($event)" [formType]="formtype"></app-task-form-container>
                        </ng-container>
                        <div class="box" *ngFor="let item of newTask"cdkDrag>
                            <app-card-container [items]="item" ></app-card-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- On Progress column -->
        <div class="col-3 card-column overflow-hidden d-flex flex-column">
            <div class="card-title p-4 d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <span class="icon-dot-circle-o"></span>
                    <h5 class="m-0 ps-3">On Progress ({{onprogress.length}})</h5>
                </div>
                <div (click)="openForm('onProgressFormFlag')">
                    <span class="icon-plus"></span>
                </div>
            </div>
            <div class="py-4 overflow-hidden">
                <div class="px-4 overflow-auto h-100">
                    <div class="list" cdkDropList [cdkDropListData]="onprogress" (cdkDropListDropped)="drop($event)">
                        <ng-container *ngIf="onProgressFormFlag;">
                            <app-task-form-container (emitTaskFormData)="taskFormData($event)" [formType]="formtype"></app-task-form-container>
                        </ng-container>
                        <div class="box" *ngFor="let item of onprogress">
                            <app-card-container [items]="item" cdkDrag></app-card-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- On Review column -->
        <div class="col-3 card-column overflow-hidden d-flex flex-column">
            <div class="card-title p-4 d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <span class="icon-dot-circle-o"></span>
                    <h5 class="m-0 ps-3 bg-secondary">On Review({{onreview.length}})</h5>
                </div>
                <div (click)="openForm('onReviewFormFlag')">
                    <span class="icon-plus"></span>
                </div>
            </div>
            <div class="py-4 overflow-hidden">
                <div class="px-4 overflow-y-auto h-100">
                    <div class="list" cdkDropList [cdkDropListData]="onreview" (cdkDropListDropped)="drop($event)">
                        <ng-container *ngIf="onReviewFormFlag;">
                            <app-task-form-container (emitTaskFormData)="taskFormData($event)" [formType]="formtype"></app-task-form-container>
                        </ng-container>
                        <div class="box" *ngFor="let item of onreview" cdkDrag>
                            <app-card-container [items]="item" ></app-card-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Complete  column -->
        <div class="col-3 card-column overflow-hidden d-flex flex-column">
            <div class="card-title p-4 d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <span class="icon-dot-circle-o"></span>
                    <h5 class="m-0 ps-3 bg-secondary">Completed ({{complete.length}})</h5>
                </div>
                <div (click)="openForm('completedFormFlag')">
                    <span class="icon-plus"></span>
                </div>
            </div>
            <div class="py-4 overflow-hidden">
                <div class="px-4 overflow-y-auto h-100">
                    <div class="list" cdkDropList [cdkDropListData]="complete" (cdkDropListDropped)="drop($event)">
                        <ng-container *ngIf="completedFormFlag;">
                            <app-task-form-container (emitTaskFormData)="taskFormData($event)" [formType]="formtype"></app-task-form-container>
                        </ng-container>
                        <div class="box" *ngFor="let item of complete">
                            <app-card-container [items]="item" cdkDrag></app-card-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>