<aside class="d-flex flex-column h-100 justify-content-between">
    <div>
        <div class="nav-brand-logo d-flex justify-content-center py-5">
            <span class="icon-user-secret"></span>
        </div>
        <nav>
            <ul class="nav flex-column align-items-center">
                <li class="nav-item">
                    <a class="nav-link py-3">
                    <span class="icon icon-home"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3">
                        <span class="icon icon-alert-circle"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3" routerLink="/projects">
                        <span class="icon icon-apps"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3">
                        <span class="icon icon-pie-chart"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3">
                        <span class="icon icon-comments-o"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3">
                        <span class="icon icon-settings"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="profile-logo d-flex justify-content-center pb-5">
        <span class="icon-amused-face-closed-eyes1"></span>
    </div>
</aside>
