// projects stylesheet
.project-list {
    width: $project-list-width;
    flex: 0 0 $project-list-width;
    border-right: $border-width solid $border-color;
}

// task management stylesheet
.tasks-style {
    .filter-view {
        border-bottom: $border-width solid $border-color;
        &-menu {
            cursor: pointer;
            border-radius: .75rem;
        }
    }
}

// task stylesheet
// .tasks-title {
//     // border-bottom: ;
// }

// project view stylesheet
.project-view-style {
    .project-tab {
        border-bottom: $border-width solid $border-color;
        &-menu {
            cursor:pointer;
            border-bottom: $border-width solid transparent;
        }
        &-menu:hover {
            transition: $transition-time all;
            border-bottom: $border-width solid $border-color-hover;
        }
    }
}