<!-- <p class="bg-light">project-dropdown-presentation works!</p> -->
<aside class="aside-wrapper pt-5 h-100">
    
    <!-- Search Bar -->
    <div class="d-flex justify-content-center">
        <input type="text" id="project-search" placeholder="Search here...">
    </div>

    <!-- projects list -->
    <div class="p-4 overflow-hidden h-100">
        <input type="checkbox" id="fav-projects-checkbox" class="d-none" checked>
        <div class="projects-title d-flex justify-content-between py-2">
            <h6>FAVORITE</h6>
            <label for="fav-projects-checkbox">
                <span class="icon-chevron-down"></span>
            </label>
        </div>
        <div class="favorite-projects overflow-auto">
            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quidem eaque est numquam molestias doloremque deserunt dolorum omnis quisquam eum consequuntur qui quos, alias aliquid maxime sequi voluptate obcaecati deleniti?</p>
            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quidem eaque est numquam molestias doloremque deserunt dolorum omnis quisquam eum consequuntur qui quos, alias aliquid maxime sequi voluptate obcaecati deleniti?</p>
            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quidem eaque est numquam molestias doloremque deserunt dolorum omnis quisquam eum consequuntur qui quos, alias aliquid maxime sequi voluptate obcaecati deleniti?</p>
            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quidem eaque est numquam molestias doloremque deserunt dolorum omnis quisquam eum consequuntur qui quos, alias aliquid maxime sequi voluptate obcaecati deleniti?</p>
            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quidem eaque est numquam molestias doloremque deserunt dolorum omnis quisquam eum consequuntur qui quos, alias aliquid maxime sequi voluptate obcaecati deleniti?</p>
        </div>
    
        <input type="checkbox" id="all-projects-checkbox" class="d-none" checked>
        <div class="projects-title d-flex justify-content-between py-2">
            <h6>ALL PROJECTS</h6>
            <label for="all-projects-checkbox">
                <span class="icon-chevron-down"></span>
            </label>
        </div>
        <div class="all-projects overflow-auto">
            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quidem eaque est numquam molestias doloremque deserunt dolorum omnis quisquam eum consequuntur qui quos, alias aliquid maxime sequi voluptate obcaecati deleniti?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quidem eaque est numquam molestias doloremque deserunt dolorum omnis quisquam eum consequuntur qui quos, alias aliquid maxime sequi voluptate obcaecati deleniti?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quidem eaque est numquam molestias doloremque deserunt dolorum omnis quisquam eum consequuntur qui quos, alias aliquid maxime sequi voluptate obcaecati deleniti?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quidem eaque est numquam molestias doloremque deserunt dolorum omnis quisquam eum consequuntur qui quos, alias aliquid maxime sequi voluptate obcaecati deleniti?</p> -->
        </div>
    
        <input type="checkbox" id="archive-projects-checkbox" class="d-none" checked>
        <div class="projects-title d-flex justify-content-between py-2">
            <h6>ARCHIVES</h6>
            <label for="archive-projects-checkbox">
                <span class="icon-chevron-down"></span>
            </label>
        </div>
        <div class="archive-projects overflow-auto">
            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quidem eaque est numquam molestias doloremque deserunt dolorum omnis quisquam eum consequuntur qui quos, alias aliquid maxime sequi voluptate obcaecati deleniti?</p>
            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quidem eaque est numquam molestias doloremque deserunt dolorum omnis quisquam eum consequuntur qui quos, alias aliquid maxime sequi voluptate obcaecati deleniti?</p>
            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quidem eaque est numquam molestias doloremque deserunt dolorum omnis quisquam eum consequuntur qui quos, alias aliquid maxime sequi voluptate obcaecati deleniti?</p>
            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quidem eaque est numquam molestias doloremque deserunt dolorum omnis quisquam eum consequuntur qui quos, alias aliquid maxime sequi voluptate obcaecati deleniti?</p>
            <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quidem eaque est numquam molestias doloremque deserunt dolorum omnis quisquam eum consequuntur qui quos, alias aliquid maxime sequi voluptate obcaecati deleniti?</p>
        </div>
    </div>
</aside>