<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="d-flex flex-column bg-primary p-5 h-100">
    <div class="d-flex flex-column py-3">
        <label for="pname">Project Name</label>
        <input type="text" id="pname" name="pname" formControlName="projectName">
    </div>
    <div class="d-flex flex-column py-3">
        <label for="pdescription">Project Description</label>
        <textarea name="pdescription" id="pdescription" cols="30" rows="1" formControlName="projectDescription"></textarea>
    </div>
    <div class="d-flex justify-content-between py-3">
        <label for="pmanager">Project Manager</label>
        <select name="pmanager" id="pmanager" formControlName="projectManager">
            <option *ngFor="let manager of projectManager" [value]="manager">{{manager}}</option>
        </select>
    </div>
    <div class="d-flex py-3">
        <div class="d-flex flex-column">
            <label for="sdate">Start Date</label>
            <input type="date" name="sdate" id="sdate" formControlName="projectStartDate">
        </div>
        <div class="d-flex flex-column">
            <label for="edate">Estimated End Date</label>
            <input type="date" name="edate" id="edate" formControlName="projectEstimatedEndDate">
        </div>
    </div>
    <div class="d-flex justify-content-between py-3">
        <label for="category">Category</label>
        <select name="category" id="category" formControlName="category">
            <option *ngFor="let category of projectCategory" [value]="category">{{category}}</option>
        </select>
    </div>
    <div class="d-flex justify-content-between py-3">
        <label for="billtype">Billing Type</label>
        <select name="billtype" id="billtype" formControlName="billingType">
            <option value="Fix">Fix</option>
        </select>
    </div>
    <div class="d-flex justify-content-between py-3">
        <label for="pstatus">Project Status</label>
        <select name="pstatus" id="pstatus" formControlName="projectStatus">
            <option *ngFor="let status of projectStatus" [value]="status ">{{status}}</option>
        </select>
    </div>
    <div class="d-flex justify-content-between py-3">
        <button type="button" (click)="emitCancel()">Cancel</button>
        <button type="submit">Submit</button>
        <button type="reset"(reset)="resetForm()">Reset</button>
    </div>
</form>
