<main class="project-view d-flex flex-column h-100">
    <div class="px-4">
        <div class="row py-5 mx-0">
            <div class="col-6 p-0">
                <ng-container *ngIf="specificProject$ | async; let project">
                    <h4>{{project.projectName}}</h4>
                </ng-container>
            </div>
            <div class="col-6 p-0 align-self-center">
                <div class="d-flex justify-content-end align-items-center">
                    <span class="icon-users"></span>
                    <span>Assigned to project</span>
                    <div class="rounded-circle d-inline-block">
                        <span class="icon-plus"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-view-tab row mx-0">
            <div class="col-6 p-0">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="overview" routerLinkActive="active">
                            <span class="tab-menu " >Overview</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="tasks" routerLinkActive="active">
                            <span class="tab-menu">Tasks</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <span class="tab-menu">Timeline</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <span class="tab-menu">Files</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <span class="tab-menu">Discussion</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 p-0">
                <div class="d-flex justify-content-end">
                    <span>Last Update: August 26,2022</span>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-grow-1 overflow-x-auto">
        <router-outlet></router-outlet>
    </div>
</main>