<div>
    <div class="task-title p-4 d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <span class="icon-dot-circle-o"></span>
            <h5 class="m-0 ps-3"><ng-content></ng-content></h5>
        </div>
        <span class="icon-plus"></span>
    </div>
    <div class="px-4">
        <div
      cdkDropList
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
    </div>
</div>